[2016-01-15 17:04] zee-moz opened #1 "Roadmapping Talk - Content"
- [x] Review [short talk guidelines](https://github.com/mozillascience/learning/blob/master/talk-guidelines.md)
- [x] Post a link to your outline here! For review and discussion. If you're just getting started, just link to wherever you're working.
- [x] @zee-moz review & discuss
- [x] Revise and Refine
- [ ] Create handout
- [x] Draft Slides in Google Slides

[2016-01-15 17:07] abbycabs commented on #1
thanks @zee-moz!

in progress:
https://docs.google.com/a/mozilla.com/document/d/1pmqJFTdQGtizAbFiqFWLqB2L_Nk5106QPxRBquSiTAc/edit?usp=sharing

[2016-01-15 17:07] zee-moz opened #2 "Readme Talk - Content"
- [x] Review [short talk guidelines](https://github.com/mozillascience/learning/blob/master/talk-guidelines.md)
- [x] Post a link to your outline here! For review and discussion. If you're just getting started, just link to wherever you're working.
- [x] @zee-moz review & discuss
- [x] Revise and Refine
- [x] Create handout
- [x] Draft Slides in Google Slides

[2016-01-15 17:07] zee-moz opened #3 "Contributor Guidelines Talk - Content"
- [x] Review [short talk guidelines](https://github.com/mozillascience/learning/blob/master/talk-guidelines.md)
- [x] Post a link to your outline here! For review and discussion. If you're just getting started, just link to wherever you're working.
- [x] @zee-moz review & discuss
- [x] Revise and Refine
- [x] Create handout
- [x] Draft Slides in Google Slides

[2016-01-15 17:08] zee-moz opened #4 "GitHub for Newbies Talk - Content"
- [x] Review [short talk guidelines](https://github.com/mozillascience/learning/blob/master/talk-guidelines.md)
- [x] Post a link to your outline here! For review and discussion. If you're just getting started, just link to wherever you're working.
- [x] @zee-moz review & discuss
- [x] Revise and Refine
- [x] Create handout
- [x] Draft Slides in Google Slides

@joeyklee @zee-moz helping!

[2016-01-15 17:13] zee-moz opened #5 "Advanced GitHub Short Talk - Content"
- [x] Review short talk guidelines
- [x]    Post a link to your outline here! For review and discussion. If you're just getting started, just link to wherever you're working.
- [x]    @zee-moz review & discuss
- [ ]     Revise and Refine

@auremoser let's talk ASAP about what specifically this will cover!

[2016-01-15 17:22] zee-moz opened #6 "Code of Conduct Talk - Content"
- [x] Review short talk guidelines
- [x]  Post a link to your outline here! For review and discussion. If you're just getting started, just link to wherever you're working.
- [x]  @zee-moz review & discuss
- [x]   Revise and Refine
- [x] Create handout
- [x] Draft Slides in Google Slides

[2016-01-15 18:05] zee-moz opened #7 "Sprints and Events Talk - Content"
- [x] Review short talk guidelines
- [x]  Post a link to your outline here! For review and discussion. If you're just getting started, just link to wherever you're working.
- [x]  @zee-moz review & discuss
- [x]   Revise and Refine
- [x] Create handout
- [x] Draft Slides in Google Slides
@mbonsma helping!

[2016-01-15 18:13] zee-moz opened #8 "User Personas and Pathways Talk - Content"
- [x] Review short talk guidelines
- [x]  Post a link to your outline here! For review and discussion. If you're just getting started, just link to wherever you're working.
- [x]  @zee-moz review & discuss
- [x]   Revise and Refine
- [x] Create handout
- [x] Draft Slides in Google Slides
@arlissc can you review & discuss with me?

[2016-01-15 18:20] arlissc commented on #7
@zee-moz - thanks so much.  working on this now ... will add link shortly.

[2016-01-15 18:20] arlissc commented on #4
@zee-moz - thank you ...

[2016-01-15 18:25] zee-moz opened #9 "Data Use and Reuse Plan - Content"
- [x] Review short talk guidelines
- [x]  Post a link to your outline here! For review and discussion. If you're just getting started, just link to wherever you're working.
- [x]  @zee-moz review & discuss
- [x]   Revise and Refine
- [x] Create handout
- [x] Draft Slides in Google Slides
- [x] Present to @cbahlai OSRR class
- [x] Revise based on feedback and for more general audience at WOW
- [x]

[2016-01-15 18:28] zee-moz opened #10 "Visual/Design Resources for MSL's Working Open Workshop"
Spoke with Cassie about this. Here's [the issue in the Mofo /plan repo](https://github.com/MozillaFoundation/plan/issues/679)
Next steps:
- [x] follow up with Cassie
- [x] provide content as needed
...

[2016-01-15 18:40] stephwright commented on #9
Google Doc w/ 10 min intro, followed by talk, followed by exercise.  Includes links to Quick Info sheets.  All in progress: https://docs.google.com/document/d/1SX_nhX8L1LvqSTsCnxv5x1bPVrcZRYIS3Zzl9oabS1c/edit

[2016-01-15 19:11] auremoser commented on #3
Outline under "Contributorship" [here](https://public.etherpad-mozilla.org/p/WOW-contrib)

[2016-01-15 19:31] auremoser commented on #5
Under "Github Netiquette": https://public.etherpad-mozilla.org/p/WOW-contrib

[2016-01-19 22:23] kaythaney commented on #6
Took a stab at the resource portion here. Needs work / feedback. @zee-moz @auremoser - please feel free to hack! https://public.etherpad-mozilla.org/p/wow-contrib (line 325)

[2016-01-19 22:32] cassiemc opened #11 "Design handouts template"
- [x] make a rough wireframe
- [x] figure out where this will live (github? gitbook? pdf? ~~thimble?~~)
- [x] design styles

Creative brief is here: https://docs.google.com/document/d/1EAYGXIcbawbLMWedDhKWH2-zPovxSMTx_YOkNpjDabI/edit#

Sample content is here: https://public.etherpad-mozilla.org/p/WOW-personas-pathways-handout

[2016-01-19 22:32] flukeout commented on #10
Here's a template for the handouts...
https://github.com/mozillascience/learning/blob/master/resource-template.md

We'll start a wireframe using the content here...
https://public.etherpad-mozilla.org/p/WOW-personas-pathways-handout

[2016-01-19 22:34] cassiemc opened #12 "Design presentation template"
Styles for this can be based on the handouts template in #11

Design brief here:
https://docs.google.com/document/d/1EAYGXIcbawbLMWedDhKWH2-zPovxSMTx_YOkNpjDabI/edit#

[2016-01-19 22:35] cassiemc commented on #11
@zee-moz Can you list here the range of things the handout should accommodate? sections, etc?

[2016-01-19 22:48] zee-moz commented on #11
https://github.com/mozillascience/learning/blob/master/resource-template.md >>this is the standard template.

I will provide more as we make them...

[2016-01-19 22:52] cassiemc commented on #11
@zee-moz I still can't seem to assign @flukeout or update milestones, maybe try adding me as an admin? Or you can assign this and #12 to Luke :)

[2016-01-20 18:43] flukeout commented on #11
**Some handy links**
- [Mozilla Science Lab Site](https://www.mozillascience.org/)
- [Personas Handout Content](https://public.etherpad-mozilla.org/p/WOW-personas-pathways-handout)
- [Handout Content Template](https://github.com/mozillascience/learning/blob/master/resource-template.md)
- [Working Open Gitbook](http://mozillascience.github.io/open-science-leadership-workshop/index.html)
- [Curricul

[2016-01-20 19:08] flukeout commented on #11
@acabunoc Can you share any thoughts you've had about what a good way to host this content would be? We were thinking of using github pages.

[2016-01-20 19:25] abbycabs commented on #11
Github pages are good depending on how easy it would be to add / update / remix content. Markdown would be nice!

[2016-01-20 19:35] abbycabs commented on #11
I initially suggested gitbook for ease of setup & content editing since I didn't think we'd have time to build something else. I do like gh pages, though.

[2016-01-20 19:37] flukeout commented on #11
@acabunoc The sense I got from @zee-moz is that as a team, you're pushing participants to get familiar with git, so adding and updating content would probably take the form of forks & pull requests (etc.) - is that too high bar in your eyes?

Take a looks at https://d157rqmxrxj6ey.cloudfront.net/flukeout/24615/#overview - it's a Thimble template we're working on for our curriculum - I was thinking

[2016-01-20 19:43] abbycabs commented on #11
forks & pulls are fine! I'm more concerned about them editing HTML (which we do not cover, and most of our team creating the content is not comfortable with) -- hence the markdown ask

[2016-01-20 22:28] flukeout commented on #11
@acabunoc Are there methods or ways you know of that take markdown and parse it to allow us to use CSS to style it? I found [http://strapdownjs.com/](http://strapdownjs.com/) - which appears to do something like that. This would allow people to make edits in markdown, but give us more flexibility visually.

Just a thought. It would also affect our layout options for the handouts.

[2016-01-20 22:42] abbycabs commented on #11
@flukeout
http://strapdownjs.com/ looks good! The only other thing I can think of is Jekyll which plays nice with gh-pages, but I think either would work :smile:

Thanks so much for working with our constraints!

[2016-01-20 23:12] flukeout commented on #11
Here's a pass at potential layout using the Personas content.

![image](https://cloud.githubusercontent.com/assets/25212/12466240/e5231ffe-bf87-11e5-98e8-f9a4b8f10224.png)

**Thoughts & Questions**
- We could make the side-nav persistent and scroll the page the the right section when it's clicked
  - And also update it to the right section when a user scrolls through
- Alternatively, we could divi

[2016-01-21 14:38] zee-moz commented on #11
@flukeout this looks great!

i like the idea of the persistent side nav and scrolling to steps for these short handouts. these activities are short-- designed to do in under 30 minutes. we will also have longer lessons with more steps-- but i think the persistent nav can work for that, too-- i like the idea of being able to see where you are in the activity sequence, and be able to back up if need

[2016-01-21 14:41] kaythaney commented on #11
this looks great - thanks @flukeout + @zee-moz!

as for the side nav - loving the walk through on steps. this might be a bit feature creep-y for the short term, but might be worth thinking of how in that side bar we could surface other exercises people should jump to afterwards (or that may be part of a set). can see that functionality as useful down the road to help with discoverability of other

[2016-01-21 15:20] stephwright commented on #11
Dang @flukeout!  This looks great!
I concur w/ @zee-moz re: side nav being persistent w/ scrolling (speaking as one who gets lost w/i websites sometimes).  Ditto on the meta stuff.

Thinking of what I'm planning for WOW, is there a way / place to link to add'l materials?  I'm thinking of a template for my exercise to help them create a data reuse plan.   I can probably make it work without but jus

[2016-01-21 15:46] auremoser commented on #11
I like the update and fork if we want to get the community involved with contributions, would be a good model to re-structure study group lessons too, if we have a lovely template like this we could swap the css and keep the same look/feel across MSL programs, because everyone has training.

We had a similar site/page for tutorials for the  [CartoDB Academy](http://academy.cartodb.com/), so thinki

[2016-01-21 18:30] flukeout commented on #11
**Thanks for the feedback**
- @zee-moz I'll update the design to include more of the content types from the outline (like the Example)  - I wanted to start with just a rough direction
- @kaythaney - We can plan around a static navigation for now, and evaluate how much work it would be to make it persistant (I don't think very much, though)
- @stephwright - Yeah, I didn't include the Resources sect

[2016-01-21 19:57] zee-moz opened #13 "Any comments and refinements for WOW Schedule?"
@acabunoc @arlissc @kaythaney  @auremoser
@stephwright

[2016-01-21 20:01] flukeout commented on #11
Some options for an **Example** callout...

![image](https://cloud.githubusercontent.com/assets/25212/12492793/d4f1cc70-c036-11e5-870e-6469aa1fdd8b.png)

[2016-01-21 21:06] zee-moz commented on #11
These are good! I think I prefer the top and bottom ones. I think the highlighted text box great... The second option, with the arrow-bar creates a visual relationship with what's happening in the nav at left, and that's maybe confusing? I think we don't really need the bars, just the highlight is great.

[2016-01-21 21:17] stephwright commented on #13
Is the elevator pitch still going to be part of the Work Week?  Or is it in there and I'm just missing it?

[2016-01-21 21:19] zee-moz commented on #13
@stephwright do you mean the fellows workweek, or WOW?
wow schedule is here: https://github.com/mozillascience/working-open-workshop/blob/master/wow-schedule.md

[2016-01-21 21:24] stephwright commented on #11
I like the first & second myself but that's cuz my old eyes prefer the higher contrast of the dark background with lighter text.  I defer to @zee-moz as she has more design chops than I do. Looks nice!

[2016-01-21 21:26] stephwright commented on #13
Oops... Fellows WW... NM :flushed:

[2016-01-21 21:28] flukeout commented on #11
Okay cool - I'm working on the Agenda Steps portion now - when it's ready I'll move it to a redpen for better critique, discussion.

[2016-01-21 21:29] kaythaney commented on #13
@auremoser had suggested them talking at hacks/hackers as a way to weave this in.

sent on the move. apologies for typos.

[2016-01-21 21:51] flukeout commented on #11
Dropping in some styles for the **Agenda Section** ahead of our call...

![image](https://cloud.githubusercontent.com/assets/25212/12495691/057f9584-c046-11e5-871b-285fa8df29c6.png)

[2016-01-21 21:59] zee-moz commented on #11
@flukeout  here's a slightly different kind of resource-- a tip sheet. Can it fit in this template?

https://public.etherpad-mozilla.org/p/sciencelab-facilitation-handout

It's actually broken down into sections (before the event, after the event, etc) so that may lend itself to the sidebar form. Materials aren't really applicable for this resource, and the format might not be applicable either...

[2016-01-21 22:00] zee-moz commented on #11
@auremoser btw, I love that library of resources-- that's exactly what I've been envisioning for MSL...

[2016-01-21 22:05] abbycabs commented on #11
An example of markdown behind a lesson:

Markdown: https://github.com/swcarpentry/sql-novice-survey/blob/gh-pages/01-select.md
Rendered: http://swcarpentry.github.io/sql-novice-survey/01-select.html

[2016-01-22 01:04] auremoser commented on #13
Yes, I thought we could work on their pitches and then have them test an abbreviated version at Hacks/Hackers. Or we might just make that a community event and we'll do a more generic presentation about what the science lab does, and what fellows do for us, and how that all could potentially related to journalism.

Here's [the fellows workweek schedule](https://public.etherpad-mozilla.org/p/wow-ms

[2016-01-22 15:45] zee-moz commented on #7
Hi @arlissc and @mbonsma
I've been looking at the work you've been doing it https://docs.google.com/document/d/1NU5yfv4FF-_OeN-kw6zlmynteeLvZ9Geq34Lo-EB42s/edit... Thanks so much for this!

As we're creating a template for all the WOW learning resources, I went back and revised this facilitator tip sheet we made for the Summit last fall. Do either of you have changes, suggestions, additions to it?

[2016-01-22 16:13] zee-moz commented on #5
As mentioned, we're going to fold this content into a single GitHub training, so moving the link to the Github for Newbs issue and closing this issue.

[2016-01-22 16:13] #5 closed

[2016-01-22 16:16] zee-moz commented on #4
We are working here:
https://public.etherpad-mozilla.org/p/sciencelab-WOW-github

but a big chunk of other notes live here:
https://public.etherpad-mozilla.org/p/github101-planning
will fold in @auremoser work here:
"Github Netiquette": https://public.etherpad-mozilla.org/p/WOW-contrib

[2016-01-22 16:46] zee-moz commented on #8
talk and handout
https://public.etherpad-mozilla.org/p/WOW-personas-pathways
https://public.etherpad-mozilla.org/p/WOW-personas-pathways-handout

[2016-01-22 16:55] zee-moz commented on #9
Adding Steph's data reuse plan template draft: https://docs.google.com/document/d/1pWqN2yCqD9Az-pVU4mCgM1g_ZCQxNrawF9EgyGqkeyM/edit

[2016-01-22 17:01] auremoser commented on #4
Thanks @zee-moz , no pressure, we can always make it another lesson, or a blog post if you think that suits the netiquette material better.

[2016-01-22 17:02] auremoser commented on #3
Status update, working on breaking it down into simpler format based on feedback.

[2016-01-22 17:38] abbycabs commented on #1
Updated the draft after your last round of comments, @zee-moz! Thanks :)

[2016-01-22 18:22] abbycabs commented on #13
Added the schedule to the landing page: https://mozillascience.org/working-open-workshop-february-2016

[2016-01-22 18:53] flukeout commented on #11
Here are the designs above in redpen...
https://redpen.io/wnec8079b1ced99e8a

**Things to consider**
- How do we link back to other resources?
- Will the multi-column layout work for the glossary and resources but still be easy to edit?
  - I'll experiment with CSS columns
  - It's important for the glossary to stay alphabetical

[2016-01-25 15:24] stephwright commented on #9
Broke out workshop into separate components: (now in Markdown)
[15-20 min short talk](https://docs.google.com/document/d/1SX_nhX8L1LvqSTsCnxv5x1bPVrcZRYIS3Zzl9oabS1c/edit?usp=sharing)
[Exercise Handout](https://github.com/stephwright/OSRR_course/blob/master/04a_DataReusePlanExercise.md)
[Data Reuse Plan Worksheet](https://github.com/stephwright/OSRR_course/blob/master/04b_Data_Reuse_Plan_Worksheet

[2016-01-25 18:45] zee-moz commented on #12
@flukeout @cassiemc  we're going to start slide creation for the Berlin workshop this week-- any progress on this issue, or should we move forward with whatever we come up with on our end?

thanks! z

[2016-01-25 23:29] flukeout commented on #11
Here's a first crack at a working version with a persistent navigation and the content from the etherpad, which I think still isn't finished...

http://flukeout.github.io/science-template/

I created [my own repo for now](https://github.com/flukeout/science-template).

cc @zee-moz @acabunoc It's still rough around the edges, so let me know your thoughts at this point.

We're still gathering feedba

[2016-01-25 23:42] flukeout commented on #12
@zee-moz I'm just getting a last round of feedback on the handout design, and once that's ready I can help with the presentation. If you want to get started and share it with me (you're using Google Slides, yeah?) then I can help once the styles are finalized.

[2016-01-26 00:47] flukeout commented on #11
**To-do**
- Review and incorporate redpen feedback
  - [x] Investigate smooth scroll when side-navigation is used
  - [x] Make styling adjustments
  - [x] Try out a couple of alternate colors
- [x] Fix column widths (especially for the description section)
- [x] Use the mozilla science favicon
- [x] Clean up old CSS
- [ ] Create Print styles CSS
- [x] Investigate the column-wrap thing for Firefox

[2016-01-26 14:52] cassiemc commented on #11
@flukeout I left some comments in redpen. Main thing that would be good to see is another colour variation and if there is time, some finesse in the typography and spacing.

[2016-01-26 15:35] zee-moz commented on #12
@flukeout thanks! ideally we'd find a format for slides that's github friendly-- like the handouts, we want to make these materials shareable and remixable (Reveal.js has been mentioned as it supports markdown... I'm not familiar with the range of tools available).

However, time is really tight... and i don't know that our communities will be _immediately_ remixing our materials... so basically w

[2016-01-26 16:15] zee-moz commented on #12
@cassiemc @flukeout OK, I've asked the team to use the most generic Google slide theme/template, and we'll update per your design friday.

[2016-01-26 17:43] flukeout commented on #11
@cassiemc Thanks for the feedback! Will try a couple of alternate "main" colors within the current design and address the feedback in the working "live" version.

[2016-01-26 17:45] cassiemc commented on #11
Sounds good!

[2016-01-26 18:49] abbycabs commented on #1
@zee-moz - I checked off '@zee-moz review & discuss' and 'Revise and Refine' -- not sure if you were done here, feel free to uncheck if you have more comments!

[2016-01-26 19:35] mbonsma commented on #7
@zee-moz, this looks great! I added just one line to the event preparation section.

[2016-01-26 19:38] abbycabs commented on #1
Template for creating the handout:
https://github.com/mozillascience/learning/blob/master/resource-template.md

[2016-01-26 20:13] zee-moz commented on #11
@flukeout I revised and added to the User Personas sheet-- per some discussions with a real-world user of this content I added some more explanation and an additional step (list your solutions). I also defined a term and provided links to relevant content, although those items don't yet exist (but will soon!)
https://public.etherpad-mozilla.org/p/WOW-personas-pathways-handout
let me know if you ha

[2016-01-26 20:41] abbycabs commented on #1
Handout in this pull request!
https://github.com/mozillascience/working-open-workshop/pull/14

[2016-01-26 21:55] stephwright commented on #9
[Presentation](https://docs.google.com/a/mozilla.com/presentation/d/1vOWqL_7MUlEtN4eXQwf36wlmAhYEbhrRNQWp5D9uJws/edit?usp=sharing) in Google Slides for OSRR course.
- [x] talk needs to be shorter
- [x] revise to make more available for general use
- [x] de jargon a bit more

[2016-01-26 23:13] flukeout commented on #11
@zee-moz Okay, great - I've update the doc with the latest content http://flukeout.github.io/science-template/

[2016-01-27 01:03] flukeout commented on #11
Quick - side by side of an alternative color scheme, will try a couple more tomorrow morning and we'll settle one by EOD...

![image](https://cloud.githubusercontent.com/assets/25212/12600449/b838eb74-c44e-11e5-9ccc-1fcd243f2487.png)

[2016-01-27 16:33] cassiemc commented on #11
Nice @flukeout. The blue is feeling more on-brand from my perspective. Maybe try the light blue from the lab coat for the persona background? Green makes it stand out probably more than it needs to.

[2016-01-27 17:51] flukeout commented on #11
**Latest version** - http://flukeout.github.io/science-template/

This is pretty much good to go.

@acabunoc let's sync up and decide how to host & port this to markdown.

[2016-01-27 23:37] flukeout commented on #12
@zee-moz Do you have the presentation started somewhere?

[2016-01-28 14:54] zee-moz commented on #11
hey, sorry for this delay-- one small item of feedback from our team-- the MSL logo seems a bit small and hanging off too far on the right. Can we make it a bit bigger and feeling less lonely out there?
Thanks!

[2016-01-28 15:05] zee-moz commented on #12
Hi there, we're working on about 7 short presentations across the team. They are all coming together last-minute!

I've asked people to use the generic Google Sides template, but there's one presentation that was started early so that was made in Powerpoint using a built in theme... for that one we don't need to adhere to the design elements, and if some of the content feels crowded we can re-form

[2016-01-28 15:40] cassiemc commented on #11
@flukeout did you try aligning the logo to the left, as per @sabrinang's redpen suggestion? I dig the color and spacing updates, thanks.

[2016-01-28 15:42] cassiemc commented on #12
@zee-moz Just to clarify what we are delivering – I don't know if we have time to adapt all of these to a new template, so might make sense to just start with one that has built in styles, then your team can port them over. @flukeout what do you think?

If that's the best way to proceed, @zee-moz which one would you prefer to start with?

[2016-01-28 16:09] zee-moz commented on #12
@cassiemc @flukeout I was thinking that you would design a template, and we'd remake each presentation using that template-- we'd put our content into that template. We have a bit of time next week to do that I told everyone to use the google slides generic layouts without any theme (Steph's presentation came before that, so she used ppt, which is where she's most comfortable).
The GitHub presenta

[2016-01-28 16:13] stephwright commented on #11
The Glossary part looks like it's confined into a column on the left.  Is there a design reason for that?  Just thinking of the exercise I just did with four words in the Glossary and that would take up quite a bit of real estate if confined to the left side.

[2016-01-28 16:16] zee-moz commented on #11
@stephwright I could be wrong, but I think that's because there's only one definition in this particular handout. If there were more, it would take up two columns (at least it did in the previous design). But it looked weird spreading a single definition across both columns, so that's not happening in this case. @flukeout can you confirm?

[2016-01-28 16:20] zee-moz commented on #4
Now with Foxes!
![quickfox_bigbluefox](https://cloud.githubusercontent.com/assets/13855390/12650493/0ae2b130-c5b1-11e5-893c-f0bb84ed293d.png)

[2016-01-28 16:44] cassiemc commented on #12
This is perfect @zee-moz, thanks for confirming, we are definitely on the same page :)

[2016-01-28 17:12] auremoser commented on #4
adorbz!

[2016-01-28 17:24] flukeout commented on #11
@stephwright @zee-moz - Yes, the glossary spans two columns, so with one definition it doesn't look as nice. We could address it by detecting how many definitions there are via javascript and adjusting the layout, but that seems like overkill at this point.

@cassiemc No - haven't tried the Logo changes yet, will do a trial.

[2016-01-28 19:26] flukeout opened #15 "Prototype markdown based handout template system."
Now that we've basically settled on the format and styling of the handouts ([Example](http://flukeout.github.io/science-template/) - from #11) - let's figure out how to
make the content editable as markdown. The advantages of this are...

* Markup is easier to work with for non-technical contributors
* The underlying content will be readable and editable via the github interface

**The General Ide

[2016-01-28 19:32] abbycabs commented on #15
After reading a bit, I think Jekyll hosted on gh-pages maybe be a good idea:

https://help.github.com/articles/using-jekyll-with-pages/

We would store markdown files on the gh-pages branch with some front matter (metadata): https://help.github.com/articles/using-jekyll-with-pages/#front-matter-is-required

Along with a _layouts folder that uses the liquid template language:
http://jekyllrb.com/do

[2016-01-28 20:57] acabunoc opened #17 "Update handouts to use the new template!"
Create html handouts for:
- [x] Roadmapping
- [x] User Personas and Pathways
- [x] README
- [x] Contributor Guidelines
- [x] GitHub for newbies
- [x] Code of Conduct
- [x] Sprints and Events
- [x] Data Use and Reuse Plan
- [ ] more that I forgot..

owner: @zee-moz? (but pls assign as many as you like to me)

Steps to complete:

1. clone the repo & go on the gh-pages branch

[code]

 If you've alre

[2016-01-29 02:24] stephwright commented on #11
Just gave the new template a whirl with my lesson here: http://mozillascience.github.io/working-open-workshop/data_reuse/

Looks like the Glossary didn't feel like cooperating on the wrapping aspect.  I also attempted a nested unordered list in the Follow-Up Resources section and it wouldn't let me nest so I just left as it was.  Not a big deal.

Thanks so much for doing this @flukeout !  The less

[2016-01-29 02:40] stephwright commented on #17
Data Reuse Handout is live: http://mozillascience.github.io/working-open-workshop/data_reuse/

Issue w/ Glossary not wrapping.  Already raised the issue w/ @flukeout

[2016-01-29 14:49] auremoser commented on #3
Here's the [handout](https://github.com/mozillascience/working-open-workshop/blob/master/handouts/contributing.md), stay tuned for the presentation.

[2016-01-29 15:45] auremoser commented on #3
Here's a sample of the presentation (for now): https://docs.google.com/presentation/d/1YZA8rvD2Ix4F7y4ck44XYwTlQZ_YkM4higpuwy5swy8/edit?usp=sharing

I willl update it throughout the day.

[2016-01-29 17:26] cassiemc commented on #11
So close to closing! @flukeout do you want to do that and open up new bugs for further issues?

[2016-01-29 17:27] cassiemc commented on #10
Let's close this, I think the more granular issues are already represented in this repo. :)

[2016-01-29 17:27] #10 closed

[2016-01-29 17:49] flukeout commented on #17
@stephwright - I fixed the issue in #18 - have a look at [the changes I made](https://github.com/mozillascience/working-open-workshop/pull/18/files) - we were just missing some markup around each of the terms. Once @acabunoc reviews, we'll be good to go.

[2016-01-29 17:53] stephwright commented on #17
Awww... you fixed my lesson for me!  Thank you for doing that! Much appreciated.

[2016-01-29 18:17] cassiemc commented on #11
btw @stephwright your lesson looks great!

[2016-01-29 18:42] stephwright commented on #11
Aww... thanks @cassiemc :)  You just made my day

[2016-01-29 18:42] stephwright commented on #11
:cookie: for you

[2016-01-29 19:18] flukeout commented on #11
@acabunoc @zee-moz @stephwright I'm going to close this issue now, since the first handout is using the template. Let's file follow-up issues and feature requests in separate issues, ya?

[2016-01-29 19:18] #11 closed

[2016-01-29 19:26] flukeout commented on #12
@zee-moz Okay I think I get it - I'll start on making a Google Presentation that accounts for some of the layouts & content in the examples you posted.

[2016-01-29 19:29] flukeout opened #20 "Template enhancements"
**Here's some stuff to improve**
* [ ] When scrolling to the bottom of the page, the Resources section doesn't necessarily get selected in the left-side nav because the "Glossary" is still the primary element.
  * I can address this by checking if you're at the bottom of the page when scrolling and selecting the last section.
* [ ] Sometimes when you click through items quickly in the left-side na

[2016-01-29 20:01] kaythaney commented on #20
thanks, @flukeout !

[2016-01-30 00:41] flukeout commented on #12
**Here we go!**
[Science Labs Presentation Template](https://drive.google.com/open?id=1coTAx-KGWfM8buS5vwiuPjUGoTuWrHJYH1qlcgRIrxY)

**Notes**
- Slides 1-4 are different options for the Cover Slide, let me know your preference
- The rest of the slides can be used within the presentation, you can alternate the background color for emphasis and variety.

**Questions**
- Let me know of any changes yo

[2016-01-31 03:35] acabunoc opened #22 "Open Canvas"
Remix the [Lean Canvas](https://leanstack.com/lean-canvas) for use on open source projects

[2016-01-31 03:39] abbycabs commented on #22
Page 1: Empty Canvas ([edit here](https://docs.google.com/drawings/d/1-7v3alEaJlcpbDySOgVOgIsRDV3-vZfYhd5KLXrvIlY/edit))
![open canvas - handout-1](https://cloud.githubusercontent.com/assets/617994/12700082/f809ef2c-c7a1-11e5-8de4-15eda3bd3f58.png)

Page 2: Instructions ([edit here](https://docs.google.com/a/mozilla.com/drawings/d/1nURelUHOSOUP6f2yRyGSp2hn4vVz9vQO7uSom1Ma-2o/edit?usp=sharing))
![o

[2016-01-31 03:48] abbycabs commented on #22
**Introduction:** The Open Canvas helps you write down and organize things you already know about your project. This will give you a big picture view of what you're trying to accomplish. If you can't fill all the boxes in the time set for this exercise, don't worry! We'll spend time during the workshop fleshing out your project plan.

**Time to complete:** 30min or less

**Materials:** A printout

[2016-02-01 15:22] cassiemc commented on #12
Thanks @flukeout!
@zee-moz Are we good to close this?

[2016-02-01 17:00] abbycabs commented on #12
@flukeout - I really like this! Thank you! I can't think of any content types that might be missing. My cover preferences: 4 & 1 (but I like them all!)

the science lab is travelling to Berlin today, so responses will be slow

cc: @cassiemc,

[2016-02-01 17:12] cassiemc commented on #12
Thanks @acabunoc! I'm going to close this so that the Plan repo is all cleaned up, but please feel free to file any new follow up issues. Nice work @flukeout! :)

[2016-02-01 17:12] #12 closed

[2016-02-02 08:23] stephwright commented on #12
I'm partial to 1 & 3 but think they all look great!  Thanks @flukeout !

[2016-02-02 09:28] kaythaney commented on #22
this looks great, abby. thank you! worth flagging to david + simon? (or on the demos call when we get back?)

[2016-02-02 09:37] acabunoc opened #25 "Arrow missing in menu"
Hey @flukeout! The compiled css doesn't have the arrow/triangle. The dev template using less has it!

[Data reuse](http://mozillascience.github.io/working-open-workshop/data_reuse/):
![screen shot 2016-02-02 at 10 34 15](https://cloud.githubusercontent.com/assets/617994/12745248/a422f02c-c998-11e5-812d-f6f49c95bc8e.png)

[Dev template](http://mozillascience.github.io/working-open-workshop/dev_temp

[2016-02-02 10:36] abbycabs commented on #20
Didn't see this was open!
Also:
https://github.com/mozillascience/working-open-workshop/issues/25

[2016-02-02 11:21] kaythaney commented on #6
(cc @zee-moz)

Talk outline:

===0===

**INTROS (1 min)**
- Aurelia - @auremoser
- Kaitlin - @kaythaney

===1===

**ANECDOTE (2 min)**
- Aurelia: Girl Develop It
- Kaitlin: Conference experiences

===2===

**SETTING COMMUNITY NORMS (2 min)**
High level notes:
- Signalling (+ modelling) what sort of community you want to cultivate
- Just in case scenario
- Making others feel welcome

Code of conduc

[2016-02-02 12:57] abbycabs commented on #12
We've decided to use slide 1 for our titles!

cc: @mozillascience/msl-staff

[2016-02-02 13:07] abbycabs commented on #1
Slides:
https://docs.google.com/presentation/d/11y0MNj820ElX4m1LuDVekHoXMzxch1Zdlga12VHTNKU/edit?usp=sharing

[2016-02-02 13:44] abbycabs commented on #22
Badges example using this canvas:
https://docs.google.com/drawings/d/1dXtwrtcHstXWgynntzr4gfP6SoMtsUvFzwxsZrXFIkg/edit?usp=sharing

[2016-02-02 13:46] stephwright commented on #9
Slides in new slide design template: https://docs.google.com/a/mozilla.com/presentation/d/1kZd-ZD5lru5a7jIbyi9q8cBYCCAKRnIBSRvixYFtoF0/edit?usp=sharing

[2016-02-02 14:24] auremoser commented on #3
Presentation with template: https://docs.google.com/presentation/d/1YZA8rvD2Ix4F7y4ck44XYwTlQZ_YkM4higpuwy5swy8/edit?usp=sharing

[2016-02-05 14:00] zee-moz opened #30 "Help with Science Lab Contributor Guidelines"
Hi we need structure and edits to our guidelines.
Great issue for newcomers! :+1:

[2016-02-05 14:01] joeyklee commented on #30
Hey looks like something I can do. Im a native english speaker and can take a look.

[2016-02-05 14:02] RaoOfPhysics commented on #30
:+1:

[2016-02-05 14:02] zee-moz commented on #30
THanks Joey that's so great! Let me know if you need any help. I am here to mentor this first bug. :smile:

[2016-02-05 14:12] #30 closed

[2016-02-05 14:20] zee-moz opened #32 "Add Research Fox to our README"
Our README is sadly missing the research fox! Add the research fox to our README!

Mentored by @acabunoc

Markdown for images:
`![](IMAGE_LINK)`

Link to research fox:
`mozillascience.github.io/working-open-workshop/assets/images/science-fox.svg`

[2016-02-05 14:35] betatim opened #33 "Research fox linking to the front page"
The big research fox logo in the top left of pages like http://mozillascience.github.io/working-open-workshop/writing_readme/ could be a hyperlink to http://mozillascience.github.io/working-open-workshop/

It would make navigating around easier.

[2016-02-05 14:53] kaythaney opened #34 "Add a humans.txt file"
@saallen and I are going to try to add a humans.txt file to the repo.

:+1: :smile:

[2016-02-05 14:54] Saallen commented on #34
Great- lets get crackin :fireworks:

[2016-02-05 14:54] kaythaney commented on #34
[Here's an example!](http://humanstxt.org/humans.txt)

[2016-02-05 15:22] stephwright commented on #34
There's a member of the Mozilla Science Lab Staff missing from humans.txt :crying_cat_face:

[2016-02-05 16:17] kaythaney commented on #34
added! thanks for the flag!

On Fri, Feb 5, 2016 at 4:22 PM, Stephanie Wright notifications@github.com
wrote:

##

@kaythaney http://twitter.com/kaythaney/
@MozillaScience http://twitter.com/mozillascience

[2016-02-05 16:18] stephwright commented on #34
:smile_cat:

[2016-02-05 19:04] flukeout commented on #15
@acabunoc Check out what I did for the Clubs template work...
- Live Template - http://flukeout.github.io/master-template/clubs-markdown/#introduction
- Markdown Source - https://github.com/flukeout/master-template/blob/master/clubs-markdown/content.md

All of the content for the guide lives in `content.md` and is converted into HTML. The left-side navigation is auto-generated based on the top-lev

[2016-02-05 22:31] #25 closed

[2016-02-05 22:32] auremoser commented on #1
closing to make room for participant issues :)

[2016-02-05 22:32] #1 closed

[2016-02-05 22:32] auremoser commented on #3
closing to make room for participant issues :)

[2016-02-05 22:32] #3 closed

[2016-02-05 22:33] auremoser commented on #9
closing to make room for participant issues :) well done!

[2016-02-05 22:33] #9 closed

[2016-02-05 22:34] auremoser commented on #9
![](http://i.giphy.com/apcKda9LY1XZS.gif)

[2016-02-05 22:35] auremoser commented on #2
well done!
githug
![](http://i.giphy.com/IdFSNW9m3hZ7O.gif)

[2016-02-05 22:35] #2 closed

[2016-02-05 22:37] auremoser commented on #6
thank you for rocking this! closing to make room for participant issues!
githug
![](http://i.giphy.com/11DvNsWoUQW1mU.gif)

[2016-02-05 22:37] #6 closed

[2016-02-05 22:37] #13 closed

[2016-02-05 22:39] auremoser commented on #22
well done @acabunoc!
githug
![](http://i.giphy.com/UVtNGSo2MmdUI.gif)

[2016-02-05 22:39] #22 closed

[2016-02-05 22:40] auremoser commented on #8
:) excellent
githug
![](http://i.giphy.com/zBMjpHeRDCMne.gif)

[2016-02-05 22:40] #8 closed

[2016-02-05 22:43] auremoser commented on #7
well done all!
closing to make room for participant project issues.
thanks so much
**githug**
![githug](http://i.giphy.com/lIgaClvpJdGwg.gif)

[2016-02-05 22:43] #7 closed

[2016-02-05 22:45] auremoser commented on #4
this was great, heard a lot of lovely feedback today on the demo!
**githug**
![](http://i.giphy.com/8FnZtdlK1k3Ly.gif)

[2016-02-05 22:45] #4 closed

[2016-02-05 22:52] auremoser commented on #34
well done!!

**githug**

![](http://i.giphy.com/nu81tqIAUO8Le.gif)

[2016-02-05 22:52] #34 closed

[2016-02-05 22:52] flukeout commented on #15
@acabunoc Okay check this out
- **Content** - https://github.com/flukeout/master-template/blob/master/science-markdown/content.md
- **Dynamic HTML Version** - http://flukeout.github.io/master-template/science-markdown/

It's still a little rough around the edges and might be a bit frail, but it's starting to get the job done. The best part is that the markdown file itself is well organized and eas

[2016-02-05 23:08] kaythaney commented on #34
these githugs are g-reeeeattttt!

sent on the move. apologies for typos.

[2016-02-05 23:44] auremoser commented on #33
Thanks @betatim! Fixed with the latest commit 5e3b7a6
Appreciate the good bug!

[2016-02-05 23:44] #33 closed

[2016-02-06 08:29] auremoser opened #39 "TEMPLATE: Add your project"
*Please make an issue of your own, like this template (below), with all links that you have, before the end of the workshop.*
**Bolded** items are for you to fill in vis-à-vis your project/study group.
## PROJECT
TITLE:  **My Project**
PROJECT REPO: **https://github.com/mozillascience/working-open-workshop**
DESCRIPTION:
**A repo to collect all materials and resources related to Mozilla Science La

[2016-02-06 08:39] betatim commented on #33
Whoop! I send :chocolate_bar: :tada:

[2016-02-06 08:50] auremoser commented on #17
Well done errybody!

**githug**

![githug](http://i.giphy.com/JglVCaB0axZ4Y.gif)

[2016-02-06 08:50] #17 closed

[2016-02-06 08:52] auremoser commented on #15
so rad, had some really lovely feedback on the professional quality of our workshop materials, thanks @flukeout  + @acabunoc

**githug**
![githug](http://i.giphy.com/hGjhjaBBc7zyg.gif)

[2016-02-06 09:42] abbycabs commented on #17
:heart:

[2016-02-06 10:46] abbycabs commented on #15
Re-opening since we haven't finalized how we're going to use markdown on our templates!

@flukeout

This looks amazing! One tiny thing, the sidebar doesn't seem to update as you scroll down anymore. Other than that, it looks identical to the html version (from what I can see) :tada:

[2016-02-06 12:44] acabunoc opened #42 "The Open Web Stretch"
From Sara, as presented at #mozlando w/ EOY fundraising modifications (changed to grants)

---

Reaching for all of our open source dreams (arms up)
Reaching the grassroots (reach toes)
Come back up in the blowing of the winds of change (arms back and forth)
Reach out and shake the publication tree (arms forward, shake imaginary tree)
Lean left to avoid the NSA (hands on hips, lean left)
Lean righ

[2016-02-06 13:46] gedankenstuecke opened #43 "workshop results!"
# openSNP

**TITLE**: openSNP
**PROJECT REPO**: https://github.com/gedankenstuecke/snpr
**DESCRIPTION**: The sources for openSNP.org

LINKS

- [ ]  README.md: https://github.com/gedankenstuecke/snpr/blob/master/README.md
- [ ]  Code of Conduct: https://github.com/gedankenstuecke/snpr/blob/master/CODE_OF_CONDUCT.md
- [ ]  Roadmap:
- [ ]  CONTRIBUTING.md: https://github.com/gedankenstuecke/snpr/blob

[2016-02-06 14:03] harunurhan opened #44 "After Workshop - harunurhan"
## OpenCosmics, Repodoctor

TITLE: OpenCosmics, Repodoctor
PROJECT REPO: https://github.com/onyb/repodoctor, https://github.com/harunurhan/open-cosmics-mean
DESCRIPTION: Repo for back and frond end applications of open cosmic ray data network, Repo of a tool that checks if your projects is contributor friendly and gives you suggestions to make it so.

LINKS

- README.md: https://github.com/harunur

[2016-02-06 14:11] stephwright commented on #42
:raised_hands:

[2016-02-06 16:10] auremoser opened #45 "Add your project - Stuart"
## PROJECT

TITLE: SunPy
GITHUB REPOSITORY/CODE: https://github.com/sunpy/sunpy
DESCRIPTION: SunPy is an open-source Python library for solar physics data analysis.
## LINKS
- [README.md](https://github.com/sunpy/sunpy/blob/master/README.md)
- [ ] Code of Conduct:
- [ ] Roadmap:
- [CONTRIBUTING.md](https://github.com/sunpy/sunpy/blob/master/CONTRIBUTING.md)
- [LICENSE](https://github.com/sunpy/sun

[2016-02-06 16:11] auremoser opened #46 "Add your project - Igor + Tim"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

I added you both because you likely are working on the same project, feel free to author a separate issue if that is not the case.

## PROJECT
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Code of Cond

[2016-02-06 16:12] auremoser opened #47 "Add your project - Demitri"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Code of Conduct:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-06 16:20] auremoser opened #48 "Add your project - Shubham"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

If your project links involves other participants, feel free to tag/assign them here.

## PROJECT
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Code of Conduct:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
*

[2016-02-06 16:21] auremoser opened #49 "Add your project - Kirstie"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Code of Conduct:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-06 16:24] auremoser opened #50 "Add your project - Madeleine"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

No worries if you don't have a project, I know you were helping us teach and your Study Group is actually quite sophisticated so you might not have done all of the activities :). Feel free to close if this doesn't apply, thanks Made

[2016-02-06 16:28] auremoser opened #51 "Add your project - Anirudha"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

If your project involves other participants, feel free to assign/add them here!

## PROJECT
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Code of Conduct:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LI

[2016-02-06 16:30] auremoser opened #52 "Add your project - Patricia"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Code of Conduct:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-06 16:31] auremoser opened #53 "Add your project - Jon"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Code of Conduct:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-06 16:32] auremoser opened #54 "Add the project - Achintya"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Code of Conduct:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-06 16:36] auremoser opened #55 "Add your project - Robert"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Code of Conduct:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-06 18:41] onyb commented on #48
Repo Doctor updated by me (@onyb) in #51. OpenCosmics can be updated in #54 by @RaoOfPhysics.

[2016-02-07 00:20] #42 closed

[2016-02-07 11:21] betatim commented on #46
@ibab did you do the editing of the entry? Should we agree to leave a little message here when we change something? (To please the bureaucrat in me)

[2016-02-07 11:24] ibab commented on #46
Yes, I was the :ghost: who edited the entry.

Agreed!

[2016-02-07 11:25] betatim commented on #46
I aded the open web stretch requirement.

Data reuse: N/A we haz no data of our own?!

COC: Happy to adopt the [`lhcb/first-ana-steps`](https://github.com/lhcb/first-analysis-steps/blob/master/CONDUCT.md) which we took from SWC (I think)?

[2016-02-07 11:26] ibab commented on #46
Yeah, it's a good one.

[2016-02-07 11:27] betatim commented on #46
What do you think of the following description:

[code]

[2016-02-07 11:32] ibab commented on #46
:+1:

[2016-02-07 12:36] oliversauter opened #56 "Add your project - Oliver"
# PROJECT

**TITLE:**

WorldBrain - Verifying the Internet with Science

**GITHUB REPOSITORY/CODE:**

http://github.com/WorldBrain/

**DESCRIPTION:**

With WorldBrain, our goal is to build a browser plugin, which lets you check the trustworthiness of web articles and blog posts, based on how scientifically correct their statements are.
To provide the content for this, we develop a web-note taking

[2016-02-07 16:15] betatim commented on #46
Modified description

[2016-02-08 20:31] anelda opened #59 "Genomics Hacky Hour"
TITLE:

Genomics Hacky Hour

GITHUB REPOSITORY/CODE:

https://github.com/anelda/GenomicsHackyHour/

DESCRIPTION:

A meeting place for people interested in Genomics - initially focussed on researchers and postgraduate students at the North-West University in South Africa, but possibly open to anyone who could participate virtually

LINKS

    README.md: TBC

    Code of Conduct: https://github.com/

[2016-02-08 21:01] mbonsma commented on #50
@auremoser, I filled this out for the phageParser project. I can do another for the UofT Coders group if it would be helpful to have it here as well!

[2016-02-08 21:08] auremoser commented on #44
I added all the Open Cosmics folks so that you can keep to the same issue. If anyone has another project that they'd like to enter, feel free to create own issue and copy the format of this one. :)

[2016-02-08 21:12] auremoser commented on #43
Well done! Thank you Bastian!
**githug**
![hug](http://i.giphy.com/SLZtlMmFHU1zO.gif)

[2016-02-08 21:15] auremoser opened #60 "Add your project - Anna"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT:
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-08 21:17] auremoser opened #61 "Add your project - Brian"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT:
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-08 21:17] auremoser opened #62 "Add your project - Christopher"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT:
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-08 21:18] auremoser opened #63 "Add your project - Tom"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT:
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-08 21:20] auremoser opened #64 "Add your project - Ali"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT:
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-08 21:23] auremoser opened #65 "Add your project - Harry"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT:
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-08 21:48] gedankenstuecke commented on #43
:heartbeat: Thanks, I hope I'll have some time to work on the Roadmap soon, maybe with @acabunoc :smiley:

[2016-02-08 21:52] auremoser opened #66 "Add your project - Amel + Fatma"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

I added you both here @amelgh + @FatmaZG because I imagine you worked on these activities together and might want to collaborate :)

## PROJECT:
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Roadmap:
*

[2016-02-08 21:54] auremoser commented on #50
Nice! Thanks so much! Feel free to add other projects to the same issue, you can just duplicate the form for **Project1** and then **Project2**, Achintya did the same [here](https://github.com/mozillascience/working-open-workshop/issues/54), feel free to setup a similar format here.

[2016-02-08 22:49] RobSullivan commented on #55
Thanks for opening this issue, Aurelia. A few links added and a few more to come.

[2016-02-08 23:50] auremoser commented on #55
Hurray! Thanks for getting started :+1:

[2016-02-09 14:23] abbycabs commented on #43
:+1:

[2016-02-09 22:04] demitri commented on #47
This is what I have so far; working on the rest!

## PROJECT

---

TITLE: Trillian
GITHUB REPOSITORY/CODE: https://github.com/trillian/trillian
DESCRIPTION: An All-Sky, Multi-wavelength Astronomy Computational Engine

## LINKS

---
- [x] README.md: https://github.com/trillian/trillian/blob/master/README.md
- [x] Code of Conduct: https://github.com/trillian/trillian/blob/master/CODE_OF_CONDUCT.md
-

[2016-02-10 14:10] auremoser commented on #47
This is great Demitri, thank you!

_githug_
![](http://i.giphy.com/Cr32hy83ThC7K.gif)

[2016-02-10 14:36] RobSullivan commented on #55
License added :m: :it:

[2016-02-10 14:49] auremoser commented on #55
:100:

[2016-02-11 00:57] auremoser commented on #44
Repo doctor also here: #51
Open Cosmics also here: #54

[2016-02-11 18:08] demitri commented on #47
@auremoser That is hilarious. :)  #alsothegif

[2016-02-12 00:53] auremoser commented on #47
:)

[2016-02-13 13:19] annakrystalli commented on #60
Hi Aurelia. I'm sorry but I'm a bit confused about how to edit the issue above. Is there something I'm missing or is it because I have not been assigned it?

Cheers!

[2016-02-13 14:51] auremoser commented on #60
Hey @annakrystalli, I'm sorry, perhaps you don't have permissions to edit the issue, thought you should. Check in the upper right corner, and look for an edit tool:
![screen shot 2016-02-13 at 8 35 20 am](https://cloud.githubusercontent.com/assets/1559703/13028223/50fbcb1e-d22e-11e5-802b-f818c08d1158.png)

If you don't, you can copy the markdown for the issue here, and paste it into a comment (lik

[2016-02-14 11:17] annakrystalli commented on #60
## PROJECT:

TITLE: **rmacroRDM `R` package**
GITHUB REPOSITORY/CODE: https://github.com/annakrystalli/rmacroRDM
DESCRIPTION: **Tools to handle macroecological trait datasets in `R`**

## LINKS
- [x] README.md: https://github.com/annakrystalli/rmacroRDM/blob/master/README.md
- [x] Roadmap: https://github.com/annakrystalli/rmacroRDM/blob/master/ROADMAP.Rmd
- [x] CONTRIBUTING.md:
- [x] LICENSE:
- [

[2016-02-14 17:47] auremoser commented on #60
Hurray, thank you so much Anna!

_githug_
![polar hug](http://i.giphy.com/JglVCaB0axZ4Y.gif)

[2016-02-16 15:25] RaoOfPhysics commented on #59
Hey! I noticed that the tabs/spaces in your comment were ruining the layout, so I cleaned it up. :)

[2016-02-16 21:38] auremoser commented on #56
Etherpad for our checkin call (2/17) is here: https://public.etherpad-mozilla.org/p/wow-oliver
cc/ @acabunoc

[2016-02-16 21:40] auremoser commented on #50
Etherpad for our check-in call (2/17): https://public.etherpad-mozilla.org/p/wow-madeleine
cc/ @acabunoc

[2016-02-16 21:42] auremoser commented on #43
Etherpad for our checkin call (2/17): https://public.etherpad-mozilla.org/p/wow-bastian
cc/ @acabunoc

[2016-02-16 21:44] auremoser commented on #60
Etherpad for our checkin call: https://public.etherpad-mozilla.org/p/wow-anna
cc/ @acabunoc

[2016-02-16 21:45] auremoser commented on #49
Etherpad for our check-in call (2/17): https://public.etherpad-mozilla.org/p/wow-kirstie
cc/ @acabunoc

[2016-02-16 22:44] gedankenstuecke commented on #43
:+1:

[2016-02-16 22:49] blackforestboi commented on #56
Top! :+1: See you both tomorrow!

[2016-02-17 02:05] auremoser commented on #53
Etherpad for tomorrow's check-in call (2/17): https://public.etherpad-mozilla.org/p/wow-jon
cc/ @acabunoc

[2016-02-17 10:08] Protohedgehog commented on #53
Thanks Aurelia. Note that I don't actually have an explicit project to work on right now. Is that going to be an issue?

[2016-02-17 13:54] auremoser commented on #53
We can talk it out on the phone; perhaps we can help model a study group together, or help you join a collaborate project that suits your interest.

[2016-02-17 13:56] Protohedgehog commented on #53
OK, sounds great!

[2016-02-22 17:40] auremoser commented on #61
Great, some ideas:
- [re: [issues](https://github.com/brian-bot/githubr/blob/master/CONTRIBUTING.md#how-to-report-a-bug-or-suggest-an-improvement)] - maybe including [a template](https://help.github.com/articles/creating-an-issue-template-for-your-repository/) in the .github hidden file, people will be prompted to use it when logging issues
- [re: [testing](https://github.com/brian-bot/githubr/blo

[2016-02-22 19:20] auremoser commented on #54
Etherpad for our call tomorrow: https://public.etherpad-mozilla.org/p/wow-achintya
cc/ @acabunoc

[2016-02-22 19:23] auremoser commented on #52
Etherpad for our call tomorrow: https://public.etherpad-mozilla.org/p/wow-patricia
cc/ @acabunoc

[2016-02-22 19:26] auremoser commented on #65
Notes for our call tomorrow: https://public.etherpad-mozilla.org/p/wow-harry
cc/ @acabunoc

[2016-02-22 19:28] auremoser commented on #61
PS Notes for our call tomorrow: https://public.etherpad-mozilla.org/p/wow-brian
cc @acabunoc

[2016-02-22 19:33] auremoser commented on #59
Some notes for tomorrow's call w/ @amelgh + @FatmaZG : https://public.etherpad-mozilla.org/p/wow-amel-et-al
cc/ @acabunoc

[2016-02-22 19:33] auremoser commented on #66
Some notes for tomorrow's call with @anelda : https://public.etherpad-mozilla.org/p/wow-amel-et-al
cc/ @acabunoc

[2016-02-22 19:37] auremoser commented on #44
Notes for our meeting tomorrow : https://public.etherpad-mozilla.org/p/wow-harun
I'll also put it in issue #51.
cc/ @acabunoc

[2016-02-22 19:38] auremoser commented on #51
Notes for our meeting tomorrow : https://public.etherpad-mozilla.org/p/wow-harun
I'll also put it in issue #44.
cc/ @acabunoc

[2016-02-22 19:41] auremoser commented on #55
Notes for tomorrow's call: https://public.etherpad-mozilla.org/p/wow-robert
cc/ @acabunoc

[2016-02-22 19:43] auremoser opened #67 "Add your project - Peter"
*Please fill out the links in this issue, like this template [here](https://github.com/mozillascience/working-open-workshop/issues/39), with all links that you have.*

## PROJECT:
TITLE:
GITHUB REPOSITORY/CODE:
DESCRIPTION:

## LINKS
* [ ] README.md:
* [ ] Roadmap:
* [ ] CONTRIBUTING.md:
* [ ] LICENSE:
* [ ] humans.txt (if applicable):
* [ ] Data reuse plan:
* [ ]  Personas:

[2016-02-22 19:51] auremoser commented on #47
Notes for tomorrow's call: https://public.etherpad-mozilla.org/p/wow-demitri
cc/ @acabunoc

[2016-02-22 21:12] FatmaZG commented on #59
Perfect, Thanks !

[2016-02-22 21:33] anelda commented on #59
Thanks! You might like this http://www.nwu.ac.za/eresearch/news/building-Genomics-capacity-through-a-study-Group :smile:

[2016-02-22 21:59] RaoOfPhysics commented on #54
:+1:

[2016-02-23 14:41] RobSullivan commented on #55
Thanks.

[2016-02-23 19:00] amelgh commented on #66
Thanks

[2016-02-23 19:39] abbycabs commented on #59
This is a great post, thanks for sharing @anelda!

[2016-02-23 20:00] stephwright commented on #59
:+1: loved the read!

[2016-02-23 20:05] anelda commented on #59
Thanks @acabunoc @stephwright

[2016-02-23 22:16] auremoser commented on #62
Etherpad for tomorrow's call: https://public.etherpad-mozilla.org/p/wow-christopher

cc @acabunoc :)

[2016-02-23 22:19] auremoser commented on #46
Etherpad for our call tomorrow: https://public.etherpad-mozilla.org/p/wow-tim

cc/ @acabunoc

[2016-02-24 15:23] auremoser commented on #46
Code of Conduct!

[2016-02-24 16:25] betatim commented on #46
Done in everware/everware#42

[2016-03-01 19:23] auremoser commented on #50
Just a reminder that we have meeting(s) with you tomorrow! The same etherpad should suit, with additions: https://public.etherpad-mozilla.org/p/wow-madeleine
cc/ @acabunoc

[2016-03-01 19:23] auremoser commented on #60
Just a reminder that we have meeting(s) with you tomorrow! The same etherpad should suit, with additions: https://public.etherpad-mozilla.org/p/wow-anna
cc/ @acabunoc

[2016-03-01 19:24] auremoser commented on #53
Just a reminder that we have meeting(s) with you tomorrow! The same etherpad should suit, with additions: https://public.etherpad-mozilla.org/p/wow-jon
cc/ @acabunoc

[2016-03-01 19:25] auremoser commented on #49
Just a reminder that we have a meeting with you tomorrow! The same etherpad should suit, with additions: https://public.etherpad-mozilla.org/p/wow-kirstie
cc/ @acabunoc

[2016-03-01 19:26] auremoser commented on #56
Just a reminder that we have a meeting with you tomorrow! The same etherpad should suit, with additions: https://public.etherpad-mozilla.org/p/wow-oliver
cc/ @acabunoc

[2016-03-01 19:26] auremoser commented on #43
Just a reminder that we have a meeting with you tomorrow! The same etherpad should suit, with additions: https://public.etherpad-mozilla.org/p/wow-bastian
Also, thanks so much for your feedback on our website!
cc/ @acabunoc

[2016-03-01 19:45] gedankenstuecke commented on #43
Ah, snap! I totally forgot that we moved the time so far back and could not make that slot. Could we schedule back to an earlier time, i.e. The originally planned one? @PhilippBayer or are you keen on taking my place at the rescheduled time?

[2016-03-01 19:51] auremoser commented on #43
Oh dear, what was the earlier time? Was it several hours before? I can try to move it.

[2016-03-01 20:30] abbycabs commented on #43
It was 11:30 ET before!

[2016-03-01 20:45] gedankenstuecke commented on #43
Yes, that's 5:30pm for me iirc? :+1:

[2016-03-01 21:00] auremoser commented on #43
O.k. I've moved it back to 11:30, hopefully that works!

[2016-03-01 21:13] gedankenstuecke commented on #43
Yes, that works perfectly for me, thanks!

[2016-03-01 21:35] abbycabs commented on #43
Totally forgot I can't make that time, I'll be at a software citation meeting. @auremoser can you handle this? I'll follow along with the etherpad and check in later :)

[2016-03-01 22:48] Protohedgehog commented on #53
Oh man, that 2 weeks was fast.. What was I supposed to have done? Ah,
funding. Yeah, I looked into that - I have a small marketing budget at
ScienceOpen, so does that count as mission success? I've been way too busy
like, doing actual science (3 papers so far this year yo) to do much event
planning in the mean time, but it's on the to do list..

We can still talk tomorrow, but I'm back home in the

[2016-03-02 00:39] philippbayer commented on #43
So 17.30 pm German time, i.e., 17:30 + 7 = 00:30 for Western Australia? I'll be there

[2016-03-02 00:45] auremoser commented on #53
Always (re: kickass science), we can check in and push some tasks to next week.

[2016-03-02 01:08] gedankenstuecke commented on #43
I think so, should also be an item in your calendar :D

[2016-03-02 02:19] philippbayer commented on #43
Just making sure :) My calendars get confused with various time zones - the Thunderbird plugin displays your time, the Google web version displays 0:30

[2016-03-02 02:32] abbycabs commented on #50
Also, @mbonsma here's an etherpad for your phageparser meeting (at 9am!):
https://public.etherpad-mozilla.org/p/wow-phageparser

We can keep the other pad as the uoftcoders meeting (at 9:30!) :) hope that doesn't get too confusing!
cc/ @auremoser

[2016-03-02 03:00] mbonsma commented on #50
Perfect, thanks!

On Tue, Mar 1, 2016 at 9:32 PM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

[2016-03-02 08:53] gedankenstuecke commented on #43
The Google Web-thing is getting it right :smile:

[2016-03-02 09:13] blackforestboi commented on #56
I’ll be there :)

[2016-03-02 15:24] KirstieJane commented on #49
See you soon @auremoser and @acabunoc!

[2016-03-02 18:07] auremoser commented on #64
Notes for our call (3/9)! https://public.etherpad-mozilla.org/p/wow-ali
cc @acabunoc

[2016-03-03 22:47] gedankenstuecke commented on #43
roadmap :dancer: :balloon:

[2016-03-04 15:19] auremoser commented on #43
Excellent!
![](http://i.giphy.com/3oEdv4hwWTzBhWvaU0.gif)

[2016-03-04 15:21] gedankenstuecke commented on #43
Best reason to do my homework: getting fun gifs in return! :sparkling_heart:

[2016-03-04 15:24] auremoser commented on #43
Haha :+1:

[2016-03-08 03:14] abbycabs commented on #54
Meeting tomorrow again! Same bat time, same bat etherpad: https://public.etherpad-mozilla.org/p/wow-achintya

cc/ @auremoser

[2016-03-08 03:15] abbycabs commented on #62
See you tomorrow at our updated time (just for this week)
https://public.etherpad-mozilla.org/p/wow-christopher

cc @auremoser

[2016-03-08 03:16] abbycabs commented on #65
Hi there @Zebetus! Notes for tomorrow: https://public.etherpad-mozilla.org/p/wow-harry

cc @auremoser

[2016-03-08 03:18] abbycabs commented on #61
Brian! Bring you disco ball tomorrow: https://public.etherpad-mozilla.org/p/wow-brian

cc @auremoser

[2016-03-08 03:19] abbycabs commented on #51
Notes for tomorrow: https://public.etherpad-mozilla.org/p/wow-harun
I will _also_ add them #44!

cc @auremoser

[2016-03-08 03:19] abbycabs commented on #44
Notes again: https://public.etherpad-mozilla.org/p/wow-harun :)

cc @auremoser

[2016-03-08 03:20] abbycabs commented on #55
It's that time again!

Notes: https://public.etherpad-mozilla.org/p/wow-robert

cc @auremoser

[2016-03-08 03:21] abbycabs commented on #67
Hey @PeterGrabitz! Notes for tomorrow: https://public.etherpad-mozilla.org/p/wow-peter

cc @auremoser

[2016-03-08 03:22] abbycabs commented on #47
It's that time again! See you tomorrow, Demitri: https://public.etherpad-mozilla.org/p/wow-demitri

cc @auremoser

[2016-03-08 06:45] RaoOfPhysics commented on #54
![](https://31.media.tumblr.com/tumblr_m3ea7bs1Xk1qbr7k8.gif)

[2016-03-08 15:56] RobSullivan commented on #55
Certainly is! Just checking, it says 15:00 in the etherpad next to today's date but 15:30EST at the top... could do 15:00 if you need to.

[2016-03-08 16:01] RobSullivan commented on #55
Would prefer 15:30EST though so can :hamburger: :fries: and :ice_cream:

[2016-03-08 16:08] abbycabs commented on #55
Copy/paste error! It's 15:30 :) Enjoy your :hamburger: :fries: and :ice_cream:!

[2016-03-09 13:00] betatim commented on #46
See you all in 2hrs! :camera:

[2016-03-09 13:50] abbycabs commented on #46
Yes! Same etherpad!

[2016-03-09 14:22] betatim commented on #46
It is on like donkey kong!

On Wed, Mar 9, 2016 at 2:50 PM Abigail Cabunoc Mayes <
notifications@github.com> wrote:

[2016-03-09 16:50] betatim commented on #46
Added it to collaborate. As part of the review can you change it from https://www.mozillascience.org/projects/everware-everware to https://www.mozillascience.org/projects/everware?

[2016-03-09 16:54] abbycabs commented on #46
Can do! Thanks @betatim -- I'll take a look later this week

Here's a fun gif for all your hard work

![](http://i.imgur.com/CX2AryG.gif)

[2016-03-09 16:57] ibab commented on #46
I wasn't able to sign it up.
Instead, it redirects me to https://www.mozillascience.org/community :(

[2016-03-09 17:06] betatim commented on #46
Those are some serious skills!

[2016-03-17 15:29] KirstieJane commented on #49
Heya @auremoser and @acabunoc! I've done some updating for the [roadmap](https://github.com/KirstieJane/STEMMRoleModels/issues/1) that I'm pretty happy with, and so I think I'm ready to be included on Collaborate. What do you think?

[2016-03-17 15:38] abbycabs commented on #49
fo' sho' -- I'll send you an email with the submission process!

[2016-03-19 17:10] abbycabs commented on #46
On Collaborate: https://mozillascience.org/projects/everware :tada: :+1:

[2016-03-19 19:13] betatim commented on #46
:boat:

[2016-05-25 15:54] solstag opened #68 "invisible text"
This is kinda silly but the page at

http://mozillascience.github.io/working-open-workshop/

does not render correctly on Firefox.

Works fine in Epiphany.

[2016-05-30 19:29] abbycabs commented on #68
Thanks for the issue @solstag! Can you add a screenshot? It works fine for me

[2016-05-30 20:09] solstag commented on #68
Sure, I'm running Firefox 46.0.1 on Fedora 23.
![capture d ecran de 2016-05-30 22-03-34](https://cloud.githubusercontent.com/assets/27959/15657658/18eb9b12-26b3-11e6-8361-9fb221a919ab.png)

[2016-05-30 20:42] abbycabs commented on #68
Ah, I think this might be related to the fira sans on linux issue:
https://github.com/mozilla/science.mozilla.org/issues/19

Thanks for filing this!

[2016-10-17 17:37] xmatthewx commented on #68
@pomax @cadecairos @gideonthomas – can you help investigate this bug when you have a spare moment? Seems to happen on Linux.

[2016-10-31 14:45] solstag commented on #68
Firefox 49.0 seems to render it properly.

[2016-10-31 16:21] Pomax commented on #68
if 49 works fine I'm tempted to say "nice!" and call it a day - I was going to suggest updating to the latest stable first, to make sure that the rendering issue wasn't caused by any bugs in FF itself rather than by any code we wrote, and it looks like that fixes things already.

[2016-11-03 17:07] abbycabs commented on #68
I'm good with calling this a day if it's working in the current release! Closing -- we can reopen if someone else still has this problem :)

[2016-11-03 17:07] #68 closed

[2017-06-01 22:57] katjaq commented on #42
waaaaa!!! awesome!!! \\ö//

[2018-09-10 09:41] #45 closed

[2019-03-30 17:44] Mozilla-GitHub-Standards opened #73 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir